body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e0f2f1;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

/* Estilos base para elementos comunes */
button {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

input {
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
}

p {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}